.goodsdetail
	.comment-container
		width 100vw
		height 100vh
		position fixed
		bottom 0
		left 0
		z-index 99
		.comment
			padding 3% 5%
			position absolute
			left 0
			bottom 0
			width 100%
			box-sizing border-box
			background white
			input
				font-size var(--font-size-normal)
				width 80%
			.comment-send
				width 100rpx
				height 60rpx
				background var(--color-setheme)
				color white
				font-size var(--font-size-normal)
				border-radius 6rpx
	.swiper
		height 50vh
	.swiper-img
		height 50vh
		background #f1f1f1
		width 100%
	.message
		padding 4%
		.message-title
			font-weight bold
			font-size var(--font-size-big)
			margin-bottom 30rpx
		.message-tip
			margin-bottom 20rpx
			image
				width 9vw
				height 9vw
				border-radius 50%
				background #f1f1f1
			.message-tip-right
				width 70vw
				margin-left 25rpx
				font-size var(--font-size-normal)
				color var(--color-grey)
				background #f1f1f1
				padding 0 25rpx
				height 9vw
				box-sizing border-box
				border-radius 30rpx
	.good-container
		padding 4%
		.good-money
			font-size var(--font-size-small)
			color var(--color-red)
			margin-bottom 20rpx
			position relative
			.good-visited
				color var(--color-grey)
				position absolute
				right 0
				top 50%
				transform translate(0%, -50%)
			.good-money-signal
				margin-left 15rpx
			.good-money-number
				font-size var(--font-size-huge)
				letter-spacing 1px
				font-weight bold
				position relative
				bottom 6rpx
		.good-intro
			font-size var(--font-size-big)
			text-indent 20px
			letter-spacing 1px
			line-height 50rpx
	.publish-container
		padding 4%
		border-top 8rpx solid #f1f1f1
		border-bottom 8rpx solid #f1f1f1
		.publish-infor
			image
				background #f1f1f1
				width 100rpx
				height 100rpx
				border-radius 50%
			.publish-right
				margin-left 20rpx
				letter-spacing 1px
				align-items flex-start
				flex-direction column
				position relative
				bottom 4rpx
				.publish-username
					font-size var(--font-size-big)
					font-weight bold
				.publish-location
					margin-top 8rpx
					font-size var(--font-size-tiny)
					color var(--color-setheme)
					padding 0rpx 10rpx
					border-radius 20rpx
					border 1px solid #f1f1f1