.MessageList-word 
	margin-left 5%
	
.MessageList-arrow
	margin-right 5%
	
.MessageList
	height 100rpx
	border-bottom #BFBFBF 1rpx solid
	// border #BFBFBF 1rpx solid
	// margin-bottom -1rpx
	// margin-top -1rpx
	background-color #FFFFFF
	
.photo
	height 80rpx
	width 80rpx

.rightBlock
	display flex
	height 150rpx
	width 70%
	align-items center

.username
	overflow hidden
	color var(--color-grey)