.shareCommunity
	width 100%
	height calc(100vh)
	.sharePhotosFather
		width 100%
		height 200rpx
		// background-color #0070FB
		// border-bottom #D2D2D2 solid 1rpx
		.sharePhotos
			margin-left 7%
			margin-top 7%
			height 150rpx
			width 30%
			padding-bottom 20rpx
			// border-radius 10%
			// background-color #0070FB
			// overflow hidden
			.sharePhoto
				font-size 150rpx
				color #35AE6B	
		.shareHint
			width 70%
			// background-color #35AE6B
			font-size var(--font-size-normal)
			color var(--color-grey)
			.hint-1
				color #404040
		.showMyPhotoFather
			width 70%
			height 100rpx
			//不加这个会动不了
			white-space: nowrap
			// .showMyPhotoView
			// 	width 70%
			// 	height 100rpx
			.showMyPhoto
				height 100rpx
				width 100rpx
				margin-right 10rpx
	.shareNumberFather
		width 100%
		height 50rpx
		// background-color #0070FB
		font-size var(--font-size-normal)
		border-bottom #D2D2D2 solid 1rpx
		.shareNumber
			// width 40%
			height 50rpx
			margin-right 5%
			// background-color #D2D2D2
	.shareNameFather
		width 100%
		height 100rpx
		// background-color #D2D2D2
		border-bottom #D2D2D2 solid 1rpx
		// margin-left 5%
		margin-top 30rpx
		// background-color #0070FB
		.shareName
			width 80%
			color var(--color-grey)
			margin-left 5%
	.shareContentFather
		width 100%
		height 40%
		.title
			height 50rpx
			margin-bottom 40rpx
			margin-left 5%
			margin-top 20rpx
		.shareContent
			width 90%
			margin-left 5%
			.shareContentInput
				width 90%
				margin-left 5%
	.whoCanSeeBtnFather
		width 100%
		height 150rpx
		// background-color #D2D2D2
		display flex
		flex-direction column
		margin-top 20rpx
		.whoCanSeeTitle
			width 20%
			height 30%
			// background-color #0070FB
			margin-left 5%
		.whoCanSeePublicFather
			width 40%
			height 70%
			// border #35AE6B
			.whoCanSeePublic
				color var(--color-grey)
				margin-left 12%
				margin-right 10%
			
	.shareBlogBtnFather
		width 100%
		height 100rpx
		// background-color #35AE6B
		color #35AE6B
		.saveBlogBtn
			width 20%
			height 60rpx
			// background-color #0070FB
			border #35AE6B solid 1rpx
			margin-left 5%
			text-align center
			border-radius 30rpx
		.shareBlogBtn
			width 60%
			height 60rpx
			// background-color #0070FB
			margin-right 5%
			border-radius 30rpx
			text-align center
			background-color #35AE6B
			border #35AE6B solid 1rpx
			color #FFFFFF
			