.machinelist
	font-size var(--font-size-normal)
	flex-direction column
	image
		width 15vw
		height 15vw
		margin-bottom 15rpx
		border-radius 50%
		background #f1f1f1
		// padding 5rpx
		// border 1px solid #ccc
	.iconfont-container
		width 15vw
		height 15vw
		position relative
		.iconfont
			position absolute
			left 50%
			top 50%
			transform translate(-50%, -50%)
			font-size 48rpx
			color #353535