.agriculturalcontentdetail
	background #f1f1f1
	.title
		font-size var(--font-size-large)
		font-weight bold
		padding 30rpx 20rpx
		.iconfont
			margin-right 15rpx
			font-size 36rpx
			color var(--color-theme)
	.type
		font-size var(--font-size-normal)
		padding 0 20rpx
		.collect
			margin-right 20rpx
		.collectAndAudio
			.icon-shoucangfill
				color var(--color-theme)
	image
		width 100%
		height 30vh
		margin 20rpx 0
		background #f1f1f1
	.content
		padding 0 5%
		font-size var(--font-size-big)
		line-height 300%
		text-indent 10%
	.video
		width 100%
		margin-top 5%
		video
			width 100%