.flex-start,
.flex-end,
.flex-between,
.flex-center
  display flex
  align-items center
.flex-start
  justify-content flex-start
.flex-end
  justify-content flex-end
.flex-center
  justify-content center
.flex-between
  justify-content space-between