page
  // font-size
  --font-size-tiny 20rpx
  --font-size-small 24rpx
  --font-size-normal 28rpx
  --font-size-big 32rpx
  --font-size-large 36rpx
  --font-size-huge 42rpx

  // radius
  --border-radius-normal 5px

  // color
  --color-theme #35ae6b
  --color-shallow-theme #c1ffdd
  --color-deep-theme #027335
  --color-shallow-setheme #ffcdbd
  --color-deep-setheme #e23904
  --color-setheme #f5774f
  --color-red #e81500
  --color-text #404040
  --color-grey #999