.machinemoduledetail
	width 100%
	.index-content
		height 100vh
		.index-swiper
			height 4%
			background var(--color-theme)
		.index-main
			background white
			position relative
			bottom 40rpx
			border-top-left-radius 40rpx
			border-top-right-radius 40rpx
			overflow hidden
			z-index 1
			padding-top 20rpx
			.module-machine
				padding-bottom 4%
			.module-knowledge
				padding-bottom 5%
				.classification
					flex-wrap wrap
					.classification-item
						margin-top 8%
						width 50%
						height 16vh
			.module-machine
				.upPull
					width 100%
					height 50rpx
					.icon-shangla
						position relative
						top 20rpx
				.machinelist-container
					transition all .5s
					border-bottom 20rpx solid #f1f1f1
					padding-bottom 30rpx
					flex-wrap wrap
					.machinelist-item
						width 33.3%
						margin-top 5%
				.machineintro-container
					align-items flex-start
					padding-top 5%
					.machineintro-container-left,
					.machineintro-container-right
						align-items center
						flex-wrap wrap
						width 50vw
					.machineintro-container-left
						position relative
						left .5%
					.machineintro-container-right
						position relative
						right .5%
					.machineintro-item
						margin-bottom 3%
						// &:nth-child(odd)
						// 	position relative
						// 	left 1%
						// &:nth-child(even)
						// 	position relative
						// 	right 1%
							
			