.machinedetail
	padding-bottom 5%
	.video-container
		.video
			width 100%
			height 30vh
		image
			width 100%
			height 30vh
			background #f1f1f1
	.title
		font-size var(--font-size-big)
		font-weight bold
		padding-left 15rpx
		margin 5%
		border-left 10rpx solid var(--color-theme)
		.title-type
			margin-left 15rpx
			margin-top 4rpx
			border-radius 4rpx
			padding 4rpx 10rpx
			background var(--color-shallow-theme)
			color var(--color-deep-theme)
			font-size var(--font-size-tiny)
	.pageutil
		padding 0 5%
		padding-bottom 2%
		.broadcast
			transition all .2s
			&.active
				color var(--color-deep-setheme)
				.iconfont
					color var(--color-deep-setheme)
			.icon-yuyin
				font-size 40rpx
				margin-left 5rpx
				transition all .2s
		.collect
			padding 8rpx 10rpx
			padding-left 12rpx
			border-radius 10rpx
			// border 1px solid var(--color-text)
			font-size var(--font-size-big)
			transition all .2s
			.iconfont
				margin-left 8rpx
				font-size 40rpx
				color var(--color-text)
				&.icon-shoucang1
					font-size 36rpx
			&.active
				background var(--color-theme)
				color white
				.icon-shoucang1
					color white
	.intro
		padding 0 5%
		font-size var(--font-size-big)
		line-height 300%
		text-indent 10%
	