.my
	width 100%
	background-color #f1f1f1
	height calc(100vh)
	
.profile
	height 380rpx
	border-bottom #D2D2D2
	position relative
	display flex
	background-color var(--color-theme)
	border-bottom-left-radius 70rpx
	border-bottom-right-radius 70rpx
	
.MyList-father
	margin 0 auto
	margin-top 10vh
	background-color white
	width 92%
	border-radius 20rpx
	overflow hidden
	
.profile-name-phone
	display flex
	flex-direction column
	justify-content center
	height 300rpx
	width 50%
	// background-color #D2D2D2

.name
	// margin-top -20rpx
	width 400rpx
	// font-size 14rpx
	// background-color #0080FF
	
.phone
	margin-top 10rpx
	width 400rpx
	margin-right 10rpx
	// height 50rpx
	// font-size 14rpx
	// background-color #0080FF

.profile-photo
	flex 1
	height 300rpx
	width 50%
	color white
	flex-direction column
	font-size var(--font-size-big)
	position relative
	bottom 4vh
.Mylist-item
	border-bottom #BFBFBF 1rpx solid
	display block
	&:last-child
		border 0
.photo
	height 26vw
	width 26vw
	margin-bottom 10rpx
	border-radius 50%
.profile-func
	height 184rpx
	width 88vw
	position absolute
	padding 0 3%
	border-radius 30rpx
	box-sizing border-box
	left 50%
	bottom -20%
	transform translate(-50%, 0)
	background white
	.func-item
		flex-direction column
		position relative
		top 6rpx
		flex-grow 1
		height 100%
		font-size var(--font-size-big)
		.iconfont
			// color var(--color-red)
			// font-weight bold
			font-size 46rpx
			margin-bottom 10rpx
.black
	height 1rpx
	border-bottom #BFBFBF 1rpx solid
	
.unloadView
	display flex
	flex-direction column
	align-items center
	width 100%
	
.unloadPhoto
	color #F1EFEF
	font-size 150rpx
	margin-bottom 10rpx
	border-radius 10rpx

.unloadTitle
	width 200rpx
	height 15rpx
	margin-bottom 20rpx
	color #FFFFFF
	text-align center

.unloadInBtn
	width 180rpx
	height 80rpx
	background-color #F1EFEF
	border-radius 70rpx
	text-align center
	transition all .2s
	&:hover
		background-color #ccc
	// display flex
	// align-items center
	// padding 5rpx
	
.loadView
	display flex


.getPhotoNumberBtn
	width 200rpx
	height 80rpx
	background-color #F1EFEF
	border-radius 50rpx