.communityBlogFather
	width 100%
	height calc(100vh)
	.communityBlog
		display flex
		flex-direction column
		width 100%
		height 100%
		background-color #FFFFFF
		.blogPhotoFather
			width 100%
			height 500rpx
			// margin-bottom 10rpx
			.blogPhoto
				width 100%
				height 500rpx
				.examplePhoto
					width 100%
					height 500rpx
		.greyBlock
			width 100%
			height 0.5%
			background-color #CCCCCC
		.userProfile
			display flex
			align-items center
			background-color #FFFFFF
			width 100%
			height 150rpx
			box-sizing border-box
			padding 4% 30rpx
			padding-left 40rpx
			margin-bottom 2rpx
			.userPhoto
				border-radius 50%
				width 100rpx
				height 100rpx
			.userName
				margin-left 40rpx
			.blogTitleFather
				margin-top 5rpx
				height 70rpx
				width 100%
				background-color #FFFFFF
				.blogTitle
					margin-top 20rpx
					height 50rpx
					width 80%
					margin-left 3%
		.blogContentFather
			width 100%
			background-color #FFFFFF
			display flex
			flex-direction column
			padding-top 5%
			.blogContent
				box-sizing border-box
				padding-left 4% 20rpx
				padding-right 4% 20rpx
				padding-top 4% 20rpx
				background-color #FFFFFF
				font-size var(--font-size-big)
				width 90%
				line-height 300%
				text-indent 10%
		.blogTimeFather
			width 100%
			background-color #FFFFFF
			height 100rpx
			border-bottom #BFBFBF solid 1rpx
			.blogTime
				width 30%
				height 100rpx
				font-size var(--font-size-normal)
				color var(--color-grey)
		.commentTitleFather
			width 100%
			height 100rpx
			background-color #FFFFFF
			// border-bottom #BFBFBF solid 1rpx
			.commentTitle
				width 30%
				height 100rpx
				color #35AE6B
		.commentView
			width 100%
			background-color #FFFFFF
			.commentFather
				margin-left 5%
				width 90%
				border-bottom #BFBFBF solid 1rpx
				.commentProfile
					height 100rpx
					width 50%
					.commmentProfilePhoto
						width 50rpx
						height 50rpx
						border-radius 25rpx
					.commentProfileName
						margin-left 5%
						height 50rpx
						color var(--color-grey)
				.comment
					// height 100rpx
					width 94%
					// overflow hidden
					overflow hidden
					text-overflow ellipsis
					display -webkit-box
					-webkit-box-orient vertical
					margin-bottom 2%
					margin-left 3%
					word-break break-all
					word-wrap break-word
				.commentTimeFather
					width 100%
					height 50rpx
					.commentTime
						// width 40%
						height 50rpx
						color var(--color-grey)
						margin-right 2%
						font-size var(--font-size-normal)
	.shareBtnFather
		width 100%
		height 8%
		// background-color #A8A8A8
		.exchangeAndLike
			width 30%
			margin-left 5%
			// background-color #0080FF
			.exchangeBtnFather
				width 50%
				.liuyan
					margin-right 10rpx
					color #35AE6B
					font-size 55rpx
				.exchangeNum
					color var(--color-grey)
			.LoveBtnFather
				width 50%
				.heart1
					margin-right 10rpx
					color #35AE6B
					font-size 50rpx
				.heart2
					margin-right 10rpx
					color #FF4777
					font-size 50rpx
					// background-color #BFBFBF
				// .iconfont
				// 	color #35AE6B
				// 	margin-right 10rpx
				// 	font-size 50rpx
				.loveNum
					color var(--color-grey)
		.shareBtn
			background-color #35AE6B
			width 25%
			height 70rpx
			border-radius 35rpx
			margin-right 5%
			.iconfont
				color #FFFFFF
				// background-color #FF7420
				width 50rpx
				height 50rpx
			.shareWord
				color #FFFFFF
				// background-color #0080FF
				height 50rpx
	.inputExchangeFather
		width 100%
		height 400rpx
		.inputExchange
			width 80%
.attention
	height 70rpx
	width 170rpx
	border-radius 35rpx
	background-color #35AE6B
	text-align center
	color #FFFFFF
	margin-right 5%