.MyList-icon 
	margin-left 5%
	font-size var(--font-size-big)
	.iconfont
		margin-right 20rpx
		font-size 46rpx
		// color var(--color-grey)
.MyList-arrow
	margin-right 5%
	
.MyList
	height 100rpx
	// border-bottom #BFBFBF 1rpx solid
	background-color #FFFFFF
	// margin-bottom -1rpx
	// margin-top -1rpx
	// background-color #D4D4D4

