.lease
	width 100%
	padding-top 14%
	padding-bottom 10%
	.lease-swiper
		height 1vh
	.lease-good
		margin 20rpx 0
		align-items flex-start
		.lease-good-left,
		.lease-good-right
			width 50vw
		.good
			margin-bottom 1.5vh
			display block
		.lease-good-left
			position relative
			left 1%
		.lease-good-right
			position relative
			right 1%
	.send-container
		position fixed
		width 100%
		left 0
		height 90rpx
		box-shadow 0 1px 5px 0px #ccc
		background white
		.send
			position absolute
			right 3%
			top 50%
			transform translate(0, -50%)
			height 60rpx
			width 160rpx
			font-size var(--font-size-normal)
			border-radius 8rpx
			background #aaffd0
			color var(--color-deep-theme)
			font-weight bold
			.iconfont
				margin-right 10rpx