.search
	padding-bottom 3%
	.search-title
		padding 5%
		padding-bottom 2%
		font-size var(--font-size-big)
		.search-word
			border-left 6px solid var(--color-theme)
			padding-left 20rpx
			font-weight bold
	.lists
		width 100vw
		overflow auto
		padding 2% 0
		&::-webkit-scrollbar
			display none
		.lists-item
			flex-shrink 0
			margin-left 30rpx