.content
	width 100%
	.appheader
		position fixed
		top 0
		left 0
		z-index 99
	.appfooter
		z-index 1
	.index-content
		audio
			width 100%
			height 200rpx
		.index-swiper
			height 5%
			background var(--color-theme)
		.index-main
			background white
			position relative
			bottom 40rpx
			// border-top-left-radius 40rpx
			// border-top-right-radius 40rpx
			overflow hidden
			z-index 1
			.module-machine
				padding-bottom 4%
			.module-knowledge
				// padding-bottom 5%
				.classification
					flex-wrap wrap
					.classification-item
						margin-top 8%
						width 50%
						height 16vh
				.swiper
					height 25vh
					width 100%
					.swiper-item
						width 100%
						image
							width 100%
							height 100%
							background #f1f1f1
				.swiper-intro
					height 10vh
					box-sizing border-box
					font-size var(--font-size-big)
					font-weight bold
					padding 25rpx
					position relative
					// background #f1f1f126
					box-shadow 0px 2px 5px #e2e2e2
					.swiper-index
						position absolute
						bottom 20rpx
						right 20rpx
						width 6vw
						font-weight normal
						height 6vw
						border-radius 8rpx
						color white
						font-size var(--font-size-small)
						background var(--color-theme)
			.module-machine
				.upPull
					width 100%
					height 50rpx
					.icon-shangla
						position relative
						top 20rpx
				.machinelist-container
					transition all .5s
					border-bottom 20rpx solid #f1f1f1
					padding-bottom 30rpx
					flex-wrap wrap
					.machinelist-item
						width 33.3%
						margin-top 5%
				.machineintro-container
					align-items flex-start
					padding-top 5%
					.machineintro-container-left,
					.machineintro-container-right
						align-items center
						flex-wrap wrap
						width 50vw
					.machineintro-container-left
						position relative
						left .5%
					.machineintro-container-right
						position relative
						right .5%
					.machineintro-listitem
						margin-bottom 1.5vh
						display block
						// &:nth-child(odd)
						// 	position relative
						// 	left 1%
						// &:nth-child(even)
						// 	position relative
						// 	right 1%
			.module-knowledge
				.feed
					width 100%
					.feedTitleFather
						width 100%
						height 100rpx
						color #35AE6B
						border-bottom #D2D2D2 solid 1rpx
						// padding-top 30rpx
						.feedTitle
							margin-left 5%
							width 10%
							height 100rpx
						.moreInfo
							width 150rpx
							height 100%
							margin-right 3%
							.iconfont
								font-size 40rpx
								margin-right 10rpx
					.feedListFather
						padding-top 3%
						background-color #f1f1f1
						width 100%
						padding-left 3%
						// height 1000rpx
						flex-wrap wrap
						.feedList
							// margin-top 5%
							margin-bottom 3%
							// margin-left 1%
							&:nth-child(odd)
								position relative
								// left 1%
								margin-right 4%
							&:nth-child(even)
								position relative
								// right 1%
				.fertilizer
					width 100%
					.fertilizerTitleFather
						// background-color #404040
						width 100%
						height 100rpx
						color #35AE6B
						border-bottom #D2D2D2 solid 1rpx
						.fertilizerTitle
							width 10%
							height 100rpx
							margin-left 5%
						.moreInfo
							width 150rpx
							height 100%
							margin-right 3%
							.iconfont
								font-size 40rpx
								margin-right 10rpx
					.fertilizerListFather
						padding-top 3%
						width 100%
						padding-left 3%
						background-color #f1f1f1
						// height 1000rpx
						flex-wrap wrap
						.fertilizerList
							// margin-top 5%
							margin-bottom 3%
							// margin-left 1%
							&:nth-child(odd)
								position relative
								// left 1%
								margin-right 4%
							&:nth-child(even)
								position relative
								// right 1%
				.medicine
					width 100%
					.medicineTitleFather
						// background-color #0070FB
						width 100%
						height 100rpx
						border-bottom #D2D2D2 solid 1rpx
						color #35AE6B
						.medicineTitle
							width 10%
							height 100rpx
							margin-left 5%
						.moreInfo
							width 150rpx
							height 100%
							margin-right 3%
							.iconfont
								font-size 40rpx
								margin-right 10rpx
					.medicineListFather
						padding-top 3%
						background-color #f1f1f1
						width 100%
						padding-left 3%
						// height 1000rpx
						flex-wrap wrap
						.medicineList
							// margin-top 5%
							margin-bottom 3%
							// margin-left 1%
							&:nth-child(odd)
								position relative
								// left 1%
								margin-right 4%
							&:nth-child(even)
								position relative
								// right 1%
						