.Messagelist
	// background-color #0080FF
	// height 100rpx
	// border-bottom #BFBFBF 1rpx solid
	
	
.MessageList-father
	padding top 20rpx
	// margin-top 50rpx
	height calc(100vh)
	display flex
	flex-direction column
	background-color #F1EFEF

.block
	height 10rpx
	border-bottom #BFBFBF 1rpx solid
	// background-color var(--color-theme)
	
.message
	// height cal(100vh)
	background-color var(--color-theme)
	