.appheader
	width 100%
	color white
	background var(--color-theme)
	padding-bottom 2%
	.back
		margin-left 25rpx
		font-size 40rpx
	.appheader-search
		width 62%
		border-radius 80rpx
		padding-left 20rpx
		margin-left 20rpx
		background-color white
		color var(--color-text)
		&.reduce
			width 50%
			margin-left 5%
		.search-content
			// color var(--color-grey)
			margin-left 15rpx
			font-size var(--font-size-normal)