.searchcommon
	width 80vw
	box-sizing border-box
	padding 2%
	border 1px solid #ccc
	border-radius 4px
	image
		width 35%
		height 16vh
		background #f1f1f1
		flex-shrink 0
		border-radius 8rpx
	.card-right
		flex-grow 1
		margin-left 20rpx
		flex-direction column
		height 15vh
		align-items flex-start
		.card-title
			font-size var(--font-size-normal)
			line-height 45rpx
			text-overflow ellipsis
			display -webkit-box
			-webkit-box-orient vertical
			-webkit-line-clamp 2
			font-weight bold
			overflow hidden
		.card-content
			font-size var(--font-size-normal)
			line-height 45rpx
			text-overflow ellipsis
			display -webkit-box
			-webkit-box-orient vertical
			-webkit-line-clamp 2
			overflow hidden
	.func-container
		margin-top 15rpx
	.func-type
		color var(--color-theme)
		font-size var(--font-size-small)
		border 1px solid #f1f1f1
		padding 0 10rpx
		border-radius 40rpx
		margin-left 20rpx