.my
	width 100%
	background-color #F1EFEF
	height calc(100vh)
	
.profile
	height 300rpx
	border-bottom #D2D2D2
	display flex
	background-color var(--color-theme)
	border-bottom-left-radius 40rpx
	border-bottom-right-radius 40rpx
	
	
.MyList-father
	margin-left 2%
	margin-top 20rpx
	background-color #F1EFEF
	width 96%
	height 400rpx
	border-radius 30rpx
	overflow hidden
	
.profile-name-phone
	display flex
	flex-direction column
	height 300rpx
	width 50%
	// background-color #D2D2D2

.name
	margin-top 50rpx
	width 400rpx
	// font-size 14rpx
	// background-color #0080FF
	
.phone
	margin-top 10rpx
	width 400rpx
	// font-size 14rpx
	// background-color #0080FF

.profile-photo
	flex 1
	height 300rpx
	width 50%
	
.photo
	margin-top 20rpx
	margin-left 80rpx
	height 200rpx
	width 200rpx
	border-radius 5%

.black
	height 1rpx
	border-bottom #BFBFBF 1rpx solid
	