.community
	width 100%
	height calc(100vh) 
	// padding-bottom 25%
	.communityScroll
		width 100%
		height 92%
		.index-swiper
			height 5%
			background var(--color-theme)
		.communityShowWord
			width 100%
			height 10%
			// background-color #0070FB
			border-bottom #D2D2D2 solid 1rpx
			.communityShowWord
				width 25%
				height 60rpx
				// background-color #35AE6B
				color #35AE6B
				margin-left 5%
				border #FFFFFF
		.leaseFather
			width 100%
			flex-wrap wrap
			.good
				margin-top 30rpx
		.communityFather
			padding-top 5%
			width 100%
			align-items flex-start
			// height 90%
			// background-color #D2D2D2
			// height calc(100vh)
			flex-wrap wrap
			// display flex
			// flex-direction column
			// flex-wrap wrap
			.communityList
				height 40vh
				// margin-top 5%
				margin-bottom 4%
				// margin-left 1%
				&:nth-child(odd)
					position relative
					left 1%
				&:nth-child(even)
					position relative
					right 1%
	.myShareFather
		width 100%
		height 8%
		position fixed
		.myShare
			width 30%
			height 70rpx
			// background-color #35AE6B
			background-color #35AE6B
			color #FFFFFF
			// color #35AE6B
			// margin-right 5%
			border #35AE6B solid 1rpx
			text-align center
			border-radius 35rpx