.contact-photo
	height 400rpx
	width 100%
	
.photo
	height 400rpx
	width 100%
	
.contact-message
	display flex
	flex-direction column
	justify-content space-between
	padding-left 5%
	// text-align center
	margin-top 30rpx
	padding-top 20rpx
	height 300rpx
	width 90%
	// display flex
	// flex-direction column
	border #F1EFEF 1rpx solid
	background-color #FFFFFF
	border-radius 30rpx
	overflow hidden
	// color #35AE6B
	
	
.contact
	height calc(100vh)
	display flex
	flex-direction column
	background-color #F1EFEF
	align-items center
	font-size 90%
	// color #35AE6B
	
.contact-phone
	margin-bottom 20rpx
	margin-top 20rpx
	
.contact-title
	text-align center
	
.contact-email
	margin-bottom 20rpx
	
.contact-address
	margin-bottom 5%
	
.member-message
	display flex
	flex-direction column
	justify-content space-between
	// text-align center
	padding-left 5%
	margin-top 5%
	padding-top 20rpx
	height 300rpx
	// background-color #FF7420
	// display flex
	// flex-direction column
	border #F1EFEF 1rpx solid
	background-color #FFFFFF
	border-radius 30rpx
	overflow hidden
	width 90%
	
.member-name
	margin-bottom 20rpx
	margin-top 20rpx
	
.member-idea
	margin-bottom 20rpx
	
.member-title
	text-align center

.member-background
	margin-bottom 5%