.fertilizerMore
	width 100%
	height calc(100vh)
	// background-color #A8A8A8
	.fertilizerMoreScroll
		height calc(100vh)
		width 100%
		.fertilizerTitleFather
			width 100%
			height 100rpx
			.fertilizerTitle
				height 100rpx
				margin-left 5%
				color #35AE6B
				border-bottom #D2D2D2 solid 1rpx
		.fertilizerListDaddy
			// width 100%
			// background-color #0070FB
			background-color #f1f1f1
			flex-wrap wrap
			padding-top 3%
			padding-left 3%
			height calc(100vh)
			.fertilizerList
				// margin-top 5%
				margin-bottom 3%
				// margin-left 1%
				&:nth-child(odd)
					position relative
					// left 1%
					margin-right 4%
				&:nth-child(even)
					position relative
					// right 1%
			