.settingsList-father
	height calc(100vh)
	background-color #F1EFEF
	// background-color #35AE6B
	width 100%
	
.shareBTN
	height 100rpx
	background-color #FFFFFF
	// width 100%
	// display flex
	
.shareBtnFather
	height 100rpx
	width 100%
	background-color #FFFFFF


.share-icon 
	margin-left 1%
	// flex 1
	.iconfont
		margin-right 25rpx
		font-size 45rpx
		// background-color #35AE6B
	
.share-arrow
	// margin-right 5%
	// flex 1
	font-size 38rpx
	// background-color #555555

.share-text
	font-size 36rpx
	// background-color #D4D4D4