// @font-face {
//   font-family: "iconfont"; /* Project id 3322299 */
//   src: url('//at.alicdn.com/t/font_3322299_w5hvx7jx9a.woff2?t=1653962517384') format('woff2'),
//        url('//at.alicdn.com/t/font_3322299_w5hvx7jx9a.woff?t=1653962517384') format('woff'),
//        url('//at.alicdn.com/t/font_3322299_w5hvx7jx9a.ttf?t=1653962517384') format('truetype');
// }
@font-face {
  font-family: "iconfont"; /* Project id 3322299 */
  src: url('static/iconfont/iconfont.ttf');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jushoucang:before {
  content: "\e643";
}

.icon-kongzhuangtai:before {
  content: "\e707";
}

.icon-shoucangfill:before {
  content: "\e6c9";
}

.icon-shoucang2:before {
  content: "\e666";
}

.icon-jiage:before {
  content: "\e60b";
}

.icon-weizhi:before {
  content: "\e61a";
}

.icon-fenlei:before {
  content: "\e60f";
}

.icon-gengduo:before {
  content: "\e693";
}

.icon-fabu:before {
  content: "\e616";
}

.icon-nongye:before {
  content: "\e609";
}

.icon-liebiao:before {
  content: "\e608";
}

.icon-yuyin:before {
  content: "\e688";
}

.icon-tabguanbi:before {
  content: "\e638";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-a-xiangxia_huaban1:before {
  content: "\e635";
}

.icon-dianzan-aixinshixin:before {
  content: "\e60a";
}

.icon-liuyan1:before {
  content: "\e744";
}

.icon-liuyan:before {
  content: "\e661";
}

.icon-liuyanjianyi:before {
  content: "\e62d";
}

.icon-dianzan:before {
  content: "\e653";
}

.icon-fenxiang1:before {
  content: "\e739";
}

.icon-bokeyuan:before {
  content: "\e606";
}

.icon-tianjiatupian:before {
  content: "\e60e";
}

.icon-shangla:before {
  content: "\e62a";
}

.icon-shequ:before {
  content: "\e604";
}

.icon-shoucang:before {
  content: "\e602";
}

.icon-shoucang1:before {
  content: "\e8c6";
}

.icon-fanhui:before {
  content: "\e63e";
}

.icon-weidenglutouxiang:before {
  content: "\e62c";
}

.icon-weidenglu:before {
  content: "\e6a3";
}

.icon-fangdajing:before {
  content: "\e601";
}

.icon-zulin:before {
  content: "\e900";
}

.icon-wode:before {
  content: "\e62b";
}

.icon-zhishi:before {
  content: "\e603";
}

.icon-diannaozulin:before {
  content: "\e687";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-tuichu:before {
  content: "\e636";
}

.icon-fenxiang:before {
  content: "\e60c";
}

.icon-qiehuanzhanghao:before {
  content: "\e646";
}

.icon-guanyuwomen:before {
  content: "\e605";
}

.icon-lianxiwomen:before {
  content: "\e61d";
}

.icon-wodeshoucang:before {
  content: "\e629";
}

.icon-jibenxinxi:before {
  content: "\e654";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-jiantou:before {
  content: "\e662";
}

